// This is a login form style
// #root {
//     background-color: #009DFF;
// }
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 50vh;
    background-color: rgb(255, 255, 255);
}

.wrapper{
    justify-content: center;
}

.loginform {
    padding: 10px;
    border-radius: 60px;
    width:400px;
}

.loginform h1{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

.loginform p{
    text-align: center;
}

.formbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
.btnlogin {
    text-align: center;
    color: #ffffff;
    background-color: #009DFF;
    border: none;
    border-radius: 10px;
    width: 300vh auto;
    margin:5px;
    padding: 10px 135px 10px 135px;
}

.btnregister {
    text-align: center;
    color:rgb(6, 61, 106);
    width: 300px;
    margin:5px;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    transform: none;
}

.userIcon {
    display: flex;
    justify-content: center;
    background: transparent;
    border: none;
    font-size: 150px;
}